body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background:#211163;
  padding: 20px 0;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar h1 img { 
  display: block;
  width: 350px;
  margin: auto;
  padding: 20px 0;
}

.navbar nav ul {
  display: flex;
  flex-direction: column;
}

.navbar nav li{
  flex-grow: 1;
  margin: 0 0 15px 0;
  text-align: center;
}

.navbar nav a {
  text-transform: uppercase;
	color: #F5C301;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
  color: darkgoldenrod;
  text-decoration: underline;
}

.banner {
  width: 100%;
  border-radius: 0 0 10% 10%;
}

.principal {
  padding: 3em 0;
  background: #FEFEFE;
  margin: 0 5%; 
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1.5em;
  clear: left;
}

.principal p {
  margin: 0 0 1.5em;
}

.participacoes {
  padding: 3em 0;
  background: linear-gradient(#FEFEFE, #888888);
}

.conteudo-participacoes {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}

.lista-participacoes{
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
}

.itens {
  display: flex;
  line-height: 1.5;
  flex-grow: 1;
  align-self: center;
}

.itens::before{
  content: "★";
}

.itens a {
  text-decoration: none;
  color: inherit;
}

.itens a:hover{
  color: darkgoldenrod;
}

.imagem-participacoes {
  width: 100%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
  border-radius: 5%;
}

.imagem-participacoes:hover{
	opacity: 0.3;
}

.conteudo-participacoes:last-child {
  align-items: center;
}

.redes-sociais {
  padding: 3em 0% 1.5em;
  background: linear-gradient(#888888 , #211163);
}

.youtube {
  width: 100%;
  margin: 0 5%;
	margin: 2em auto;
}

.redes-sociais h4{
  color: #FEFEFE;
}

  /*CSS Pagina piloto*/

  .pilotos {
    display: flex;
    flex-direction: column;
    padding: 2em;
  }

  .pilotos li {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 20px 0;
  }

  .pilotos li img {
    width: 70%;
    padding: 20px 0;
  }

  .pilotos li:hover {
    border-color: #C78C19;
  }
  
  .pilotos li:active {
    border-color: #088C19;
  }
  
  .pilotos li:hover h2{
    font-size: 34px;
  }
  
  .pilotos h2 {
      font-size: 30px;
      font-weight: bold;
  }
  
  .piloto-descricao {
      font-size: 18px;
  }
  
  .piloto-destaques {
      font-size: 22px;
      font-weight: bold;
      margin-top: 10px;
  }

/*css contato*/  

form {
  display: flex;
  flex-direction: column;
	margin: 40px auto;
  padding: 5%;
}

form label, form legend {
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	margin: 0 0 20px;	
	padding: 10px 25px;	
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 100%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
}

/*css footer*/  

footer {
	background-color: #211163;
	padding: 1.5em 0 2em;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div img {
  width: 250px;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0 ;
}

@media screen and (min-width:720px){

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  } 

  .navbar nav ul {
    flex-direction: row;
  }
  
  .navbar nav li{
    margin: 0 0 0 15px;
  }

  .conteudo-participacoes {
    flex-direction: row;
    justify-content: space-between;
  }

  .lista-participacoes {
    align-self: flex-start;
  }

  .itens {
    align-self: flex-start;
  }
  
  .imagem-participacoes {
    width: 60%;
  }

  .youtube {
    width: 560px;
  }

  /*CSS Pagina piloto*/

  .pilotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
  }

  .pilotos li {
    width: 250px;
  }

  .pilotos li img {
    width: 100%;
    padding: 20px 0;
  }

  /*CSS Pagina contato*/

  .tamanho-padrao {
    max-width: 1200px; 
    margin: auto;
  }
  .input-padrao {
    width: 50%;
  }

  .enviar {
    width: 40%;
    transition: 1s all;
    cursor: pointer;
  }
  
  .enviar:hover {
    background: darkorange;
    transform:  scale(1.2);
    transform-origin: left;
  }
}