body {
  font-family: 'Montserrat', sans-serif;
}

.site-padrao {
 max-width: 1200px;
 margin: auto;
}

/* css do header */

header {
  background:#211163;
  padding: 20px 0;
}

.content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

header div h1 img {
  width: 300px;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
	color: #F5C301;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
  color: darkgoldenrod;
  text-decoration: underline;
}

/* css da página inicial */

.banner {
  width: 100%;
  border-radius: 0 0 10% 10%;
}

.principal {
  padding: 3em 0;
  background: #FEFEFE;
  width: 1200px;
  margin: 0 auto;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1.5em;
  clear: left;
}

.principal p {
  margin: 0 0 1.5em;
}

.participacoes {
  padding: 3em 0;
  background: linear-gradient(#FEFEFE, #888888);
}

.conteudo-participacoes {
  width: 920px;
  margin: 0 auto;
}

.lista-participacoes {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5;
}

.itens::before{
  content: "★";
}

.itens a {
  text-decoration: none;
  color: inherit;
}

.itens a:hover{
  color: darkgoldenrod;
}

.imagem-participacoes {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
  border-radius: 5%;
}

.imagem-participacoes:hover{
	opacity: 0.3;
}

.redes-sociais {
  padding: 3em 0;
  background: linear-gradient(#888888 , #211163);
}

.youtube {
  width: 560px;
	margin: 2em auto;
}

.redes-sociais h4{
  color: #FEFEFE;
}

footer {
	text-align: center;
	background-color: #211163;
	padding: 40px 0;
}

footer div img {
  width: 300px;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0 ;
}

/*CSS Página de pilotos*/

.pilotos {
	width: 1200px;
	margin: 0 auto;
	padding: 50px 0;
}

.pilotos li {
	display: inline-block;
	text-align: center;
	width: 24%;
	vertical-align: top;
	margin: 0 4.4%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.pilotos li img {
  width: 250px;
  padding: 20px 0;
}

.pilotos li:hover {
	border-color: #C78C19;
}

.pilotos li:active {
	border-color: #088C19;
}

.pilotos li:hover h2{
	font-size: 34px;
}

.pilotos h2 {
    font-size: 30px;
    font-weight: bold;
}

.piloto-descricao {
    font-size: 18px;
}

.piloto-destaques {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/*CSS Página de contato*/



form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;	
	padding: 10px 25px;	
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform:  scale(1.2);
  transform-origin: left;
}